services:
  frontend:
    build:
      context: ./worklenz-frontend
      dockerfile: Dockerfile
    container_name: worklenz_frontend
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_SOCKET_URL=${VITE_SOCKET_URL}
    ports:
      - "5000:5000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - worklenz
      
  backend:
    build:
      context: ./worklenz-backend
      dockerfile: Dockerfile
    container_name: worklenz_backend
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - SESSION_NAME=${SESSION_NAME}
      - SESSION_SECRET=${SESSION_SECRET}
      - COOKIE_SECRET=${COOKIE_SECRET}
      - SOCKET_IO_CORS=${SOCKET_IO_CORS}
      - SERVER_CORS=${SERVER_CORS}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_HOST=worklenz_db
      - DB_PORT=5432
      - DB_MAX_CLIENTS=${DB_MAX_CLIENTS}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}
      - LOGIN_FAILURE_REDIRECT=${LOGIN_FAILURE_REDIRECT}
      - LOGIN_SUCCESS_REDIRECT=${LOGIN_SUCCESS_REDIRECT}
      - HOSTNAME=${HOSTNAME}
      - JWT_SECRET=${JWT_SECRET}
      - USE_PG_NATIVE=${USE_PG_NATIVE}
      - AWS_REGION=us-east-1
      - AWS_BUCKET=worklenz-bucket
      - AWS_ENDPOINT=http://minio:9000
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
    ports:
      - "3000"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    restart: unless-stopped
    networks:
      - worklenz
      
  minio:
    image: minio/minio:latest
    container_name: worklenz_minio
    ports:
      - "9000"
      - "9001"
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - worklenz_minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - worklenz
      
  createbuckets:
    image: minio/mc
    container_name: worklenz_createbuckets
    depends_on:
      - minio
    restart: on-failure
    entrypoint: ["/bin/sh", "/scripts/createbuckets-entrypoint.sh"]
    volumes:
      - ./docker/createbuckets-entrypoint.sh:/scripts/createbuckets-entrypoint.sh:ro
    networks:
      - worklenz
      
  db:
    image: postgres:15
    container_name: worklenz_db
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_DB: ${DB_NAME:-worklenz_db}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -d ${DB_NAME:-worklenz_db} -U ${DB_USER:-postgres}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks:
      - worklenz
    volumes:
      - worklenz_postgres_data:/var/lib/postgresql/data
      - ./docker/db-init-wrapper.sh:/usr/local/bin/db-init-wrapper.sh:ro
      - type: bind
        source: ./worklenz-backend/database/sql
        target: /docker-entrypoint-initdb.d/sql
        consistency: cached
      - type: bind
        source: ./worklenz-backend/database/migrations
        target: /docker-entrypoint-initdb.d/migrations
        consistency: cached
      - type: bind
        source: ./worklenz-backend/database/00_init.sh
        target: /docker-entrypoint-initdb.d/00_init.sh
        consistency: cached
      - type: bind
        source: ./pg_backups
        target: /docker-entrypoint-initdb.d/pg_backups
    command: ["/usr/local/bin/db-init-wrapper.sh"]
    
  db-backup:
    image: postgres:15
    container_name: worklenz_db_backup
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_DB: ${DB_NAME:-worklenz_db}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./pg_backups:/pg_backups
    command: >
           bash -c 'while true; do
              sleep 86400;
              PGPASSWORD=$$POSTGRES_PASSWORD pg_dump -h worklenz_db -U $$POSTGRES_USER -d $$POSTGRES_DB \
              > /pg_backups/worklenz_db_$$(date +%Y-%m-%d_%H-%M-%S).sql;
              find /pg_backups -type f -name "*.sql" -mtime +30 -delete;
            done'
    restart: unless-stopped
    networks:
      - worklenz
      
volumes:
  worklenz_postgres_data:
  worklenz_minio_data:
  pgdata:
  
networks:
  worklenz:
